{#
	Category/view.html.twig
	@package SplicedCommerceBundle
	@author Gassan Idriss - ghassani@splicedmedia.com

	@var category
	@var viewMode
	@var prododucs
	@var productSortOrderForm
#}
{% extends 'SplicedCommerceBundle::Layouts/2columns-left.html.twig' %}

{% block title %}{{ category.name }} | {{ commerce_get_config('commerce.store.name') }}{% endblock %}

{% block head %}
<link rel="canonical" href="{{ commerce_get_config('commerce.store.url') }}{{ path( category.urlSlug ) }}" />
{% endblock %}

{% block left %}
	{{ include("SplicedCommerceBundle:Category:Blocks/sub_categories.html.twig", {}) }}

	{{ include('SplicedCommerceBundle:Category/Blocks:specification_filter.html.twig') }}
{% endblock %}


{% block content %}
	<div class="page-header">
	    <h1>{{ category.name }}</h1>
    </div>
    
	{% if category.description|length %}
		<div class="well">{{ category.description|raw }}</div>
	{% endif %}

	{{ include('SplicedCommerceBundle:Category/View:sort_order_bar.html.twig', {}) }}

	    {# if productFilterManager is defined and productFilterManager.attributes|length %}
    	<div class="alert alert-info current-search-filters-body">
    
    	    <div class="pull-left text-right"><strong>Currently set search filters:</strong></div>
    	    <div class="pull-right text-right"><a href="#" title="" class="blue"><i class="icon-trash"></i> Remove All Search Filters</a></div>
    	    <div class="clearfix"></div>
        	<ul class="unstyled">
        	{% for setAttributeOption in productFilterManager.attributes %}
        		<li>
        			{{ setAttributeOption.label }} - {{ setAttributeOption.value }}
        			<a href="{{ path("category_update_attribute_filter", { "attributeOptionId" : setAttributeOption.option_id, "attributeOptionValueId":setAttributeOption.value_id, "action" : "delete" }) }}" title="Remove Filter">
        				<i class="icon-trash"></i>
        			</a>
        		</li>
        	{% endfor %}
        	</ul>
        	
    	</div>
    	{% endif #}
	
    {% if products is defined %}
	    {{ knp_pagination_render(products) }}
	{% endif %}
	
	{%  if viewMode == 'grid' %}
		{{ include('SplicedCommerceBundle:Product:view_grid.html.twig') }}
	{%  else %}
		{{ include('SplicedCommerceBundle:Product:view_list.html.twig') }}
	{% endif %}
	
    {% if products is defined %}
	    {{ knp_pagination_render(products) }}
	{% endif %}

{% endblock %}
