{% if productFilterManager is defined %}
{% set availableSpecifications = productFilterManager.availableSpecifications %}
{% set availableManufacturers = productFilterManager.availableManufacturers %}
{% set selectedSpecifications = productFilterManager.selectedSpecifications(category.id) %}
{% set selectedManufacturers = productFilterManager.selectedManufacturers(category.id) %}

<pre>
{{ dump(selectedSpecifications) }}
{{ dump(selectedManufacturers) }}
</pre>

<div class="panel panel-default panel-category-tree-block">
	<div class="panel-heading">Filter Results</div>
	<div class="panel-body">Use the choices below to narrow down the results of the products available in this category.</div>
	<ul class="list-group">
        {% if selectedManufacturers|length or selectedSpecifications|length %}
        <li class="list-group-item"><strong>Current Filters</strong> 
            <a href="{{ path('category_reset_filter', { 'categoryId' : category.id }) }}">Reset Filters</a>
            <ul>
            {% if selectedManufacturers|length %}
                <li class="">
                    <strong>Manufacturer</strong>
                    <ul>
                    {% for manufacturer in availableManufacturers %}
                        {% if manufacturer.id in selectedManufacturers %}
                            <li class="">{{ manufacturer.name }} <a href="{{ path('category_update_filter_manufacturer', {
                                'categoryId' : category.id,
                                'manufacturerId' : manufacturer.id,
                                'action' : 'delete',
                            }) }}"><i class="icon-trash icon-red"></i></a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </li>
            {% endif %}
            {% if selectedSpecifications|length %}
                {% for specification in availableSpecifications %}
                    {% for id, values in selectedSpecifications %}
                        {% if specification.option.id == id %}
                        <li class="">
                            <strong>{{ specification.option.publicName }}</strong>
                            <ul>
                            {% for v in values %}
                             <li class=""><input type="checkbox" /> {{ v }} <a href="{{ path('category_update_filter_specification', {
                                'categoryId' : category.id,
                                'specificationId' : specification.option.id,
                                'value' : v,
                                'action' : 'delete',
                            }) }}"><i class="icon-trash icon-red"></i></a></li>
                            {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                    {% endfor %}
                    
                {% endfor %}
            {% endif %}
        </ul>
    {% endif %}
    
    {% if availableManufacturers|length %}        
        <li class="list-group-item"><strong>Manufacturer</strong>
            <ul>
        		{% for availableManufacturer in availableManufacturers %}
                    <li><input type="checkbox" name="manufacturers[{{ availableManufacturer.id }}]" value="{{ availableManufacturer.id }}" /> <a href="{{ path('category_update_filter_manufacturer', {
                        'categoryId' : category.id,
                        'manufacturerId' : availableManufacturer.id,
                        'action' : 'add',
                    }) }}">{{ availableManufacturer.name }}</a></li>
        		{% endfor %}
		    </ul>
        </li>
	{% endif %}
    
    {% if availableSpecifications|length %}
		{% for specificationFilter in availableSpecifications %}
		 	<li class="list-group-item">
		 	    <strong>{{ specificationFilter.option.publicName }}</strong>
		 	    <ul>
		 	    {% for value in specificationFilter.values %}
		 	        <li><input type="checkbox" name="specifications[{{ specificationFilter.option.key }}]" value="{{ value }}" /> <a href="{{ path('category_update_filter_specification', {
                        'categoryId' : category.id,
                        'specificationId' : specificationFilter.option.id,
                        'value' : value|url_encode,
                        'action' : 'add',
                    }) }}">{{ value }}</a></li>
		 	    {% endfor %}
		 	    </ul>
		 	</li>
		{% endfor %}
	{% endif %}

	{% if not availableSpecifications|length and not availableManufacturers|length %}
		<li class="list-group-item text-center"><strong>No Filters Available</strong></li>
	{% endif %}
	</ul>
	<div class="panel-footer">
	    <button type="submit" class="btn btn-success">Filter</button>
	</div>
</div>
{% endif %}